# 1. Игнорируем ВСЁ (блокируем все файлы и папки)
/*

# 2. Важно: исключаем сам .gitignore из блокировки,
# иначе вы не сможете его закоммитить или изменять.
!/.gitignore

# 3. Разрешаем (добавляем в белый список) конкретные файлы
!/config.fish

# 4. Разрешаем конкретные папки
!/functions/

# 5. Разрешаем md-файлы в корне, лицензии,
!/LICENSE*
!/LICENSE
!/*.md

# 6. кофиг bash для копирования в ~

!/bashrc
!/.bashrc
